@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-mainLayout: #020618;
  --color-mainDiv: #0f172b;
  --color-label: #90a1b9;
  --color-input: #020618;
  --color-link: #90A1B9;
  --color-link-white: #F8FAFC;
  --color-link-active: #ffb86a;
  --color-submit: #62748e;
  --color-btnProj: #45556C;
  --color-btnTextProj: #F8FAFC;
  --color-border: #314158;
  --color-job: #615FFF;
  --color-teal: #00D5BE;
  --color-git: #FFA1AD;
}
body {
  font-family: "Fira Code", monospace;
}

*
{
  box-sizing: border-box;
}

.peer:checked ~ div .peer-checked\:block {
  display: block;
}

