@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-mainLayout: #020618;
  --color-mainDiv: #0F172B;
  --color-label: #90A1B9;
  --color-input: #020618;
  --color-border: #314158;
  --color-btnProj: #45556C;
  --color-btnTextProj: #F8FAFC;
  --color-link: #90A1B9;
  --color-link-active: #FFB86A;
  --color-link-white: #F8FAFC;
  --color-border: #314158;
}

body {
  font-family: "Fira Code", monospace;
}